body {
    font-family: "Montserrat", sans-serif;
}

.navbar-brand {
    color: #e51244;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #e51244;
}

.navbar-logo {
    max-height: 25px;
}

.nav-link {
    font-weight: 900;
}

.btn-primary {
    background-color: #e51244;
}



.btn-outline-secondary:hover {
    background-color: #1b6d85;
}

.page-item.active a {
    background-color: #1b6d85;
}